---
---

// ruvido stuff

.dialogue{
  ul {
    list-style:none;
    // li:before {content: "\2605";}
    li:before {content: "\2014 \00a0";}
    li{font-size: 0.9rem; padding-bottom: 0.6rem;}
  }
}

.footnote-text {
  margin-top: 2rem;
  font-size: 0.8rem;
}