/*
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. RESET
2. ROOT
3. CORE TYPOGRAPHY
4. LINKS
5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
7. BROWSER AND NON-SEMANTIC STYLING

CONTENTS - LAYOUT.CSS
-----------------------------------------
8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)

*/


/* 1. RESET
----------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  }
  
  
/* 2. ROOT
----------------------------------------------------------------------------------------*/
html { 
  overflow-y: scroll;
/* 
  background: #FFF;
 */
  background: rgb(255, 255, 255);

  }

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img, embed, object, video { max-width: 100%; }
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video { width: 100%; }


/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/
body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.618em;
  color: #333;
  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  line-height: 1em;
  }

p, ul, ol, dl, blockquote {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 1.618em; 
    max-width: 30em; /* Optimal width for long-form text */
  }
    
ul { list-style-type: disc; margin-left: 1.618em; }
ol { list-style-type: decimal; margin-left: 1.618em; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0;}

b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 80%; }


/* 4. LINKS
----------------------------------------------------------------------------------------*/
a, a:visited { outline: none; color: #439BBD; text-decoration: underline; }  
a:hover { outline: none; text-decoration:none; }  
a:active, a:focus { outline: none; }


/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/

h1 {
  text-align: center;
  font-size: 2.618em;
  line-height: 1.2em;
  }
  
h3 { text-transform:uppercase; letter-spacing:0.12em; }
h3, h4, h5, h6 { font-weight: bold; }

p.intro { font-size: 1.309em; margin-bottom: 1em; }
  
header { text-align:center; }

footer {
/* 
  margin:1.618em 0 0;
  padding: 1.618em 0 0;
 */
/* 
  border-top: 1px solid rgb(102,102,102);
  border-bottom: 1px solid rgb(102,102,102);
 */
  }
  
footer p { float: left; margin-right:1em; }



/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/
#container {
    padding: 0.809em;
    max-width: 30em;
    margin: auto;
  }

aside { width: 100%; }


/* 7. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/
.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.ie6 .cf { zoom: 1 }

/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
#container {
	padding: 1.618em;
	margin: 0 auto; 
	max-width: 60em;
	}
	
/*header h2:before, header h2:after { width: 42%; }*/



.lobster{
	display: inline;
	font-family: 'Lobster', cursive;
	font-size:	1em;
}


#header {
	top:0;
	padding-top:0em;
	background-color: white;
	z-index:	100;
    position: fixed;
    width: 60em;
}

header h1 {
	font-family:	'Lobster', cursive;
	font-size:	4.4em;
	line-height:	1.618em; 
	margin-bottom:	0em; 
	margin-top:	0em;
	background-color: #0776A0;
	color:		white;	
	height:		1.1em;
	-webkit-text-stroke: 0.0005em black;
	text-shadow:
	 0.03em  0.03em 0  #024C68,
	-0.02em -0.02em 0  #024C68,  
	 0.02em -0.02em 0  #024C68,
	-0.02em  0.02em 0  #024C68,
	 0.02em  0.02em 0  #024C68;
}

header h2 {
	font-family:	'Raleway', sans-serif;
	font-weight:	100;
	font-size:	2.0em;
	margin-top:	0.5em;
	margin-bottom:	0.2em;
}


   
h1 span {
  font-family: "proxima-nova-1","proxima-nova-2", arial, helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing:0.1em;
  font-size:0.382em;
  line-height:3.236em;
  display:block;
  }
  
h1 span:before, h1 span:after {
  content:"";
  border-top:1px solid #333;
  height: 0.1em;
  width: 19%;
  display: block;
  margin-top: 1.618em;
  }
  
h1 span:before { float: left; }  
h1 span:after { float: right; }

ul { margin-left: 0.4em; }
ol { margin-left: 0.4em; }

p.intro {
  font-size: 1.618em;
  line-height:1.4289em;
  max-width: 20em;
  margin-bottom: 1em;
  }


aside {
  top:		10.0em;
  position: fixed;
  /*float: left;
  clear: left;*/
  width: 16em;
  /*margin-top:-12.5em;*/
  height:auto;
  z-index: 100;
  }

#main { 

	/*
  float: right; 
  clear: right;	
  */
  margin-left: 22em;
  margin-top: 12.0em;
}

aside ul, footer ul {
	list-style: none;
	line-height: 2.5;
	font-size: 1.0em;
}

aside img {
	height:		14.0em;
}
 
  
footer p { max-width: 17.942em; }

a.buttonize {
	display:	inline;
	padding:	0;
	padding-left:	15px;
	padding-right:	15px;
	background-color:#fff;
	color:		#999;
	border:		2px solid #f8f8f8;
	border-radius:	50px;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
	font-family:	'Open Sans', sans-serif;
	font-weight:	700;

}

a.buttonize.dark{
	color:		#fff;
	background-color:#000;
	border-color:	#000
}

a.buttonize.red{
	color:	white;
	background-color:#F5001D;
	border-color:#F5001D;
}

a.buttonize.orange{
	color:	white;
	background-color:#FF6C00;
	border-color:#FF6C00;
}

a.buttonize.cyan{
	color:	white;
	background-color:#009E8E;
	border-color:#009E8E;
}

a.buttonize.green{
	color:	white;
	background-color:#41A128;
	border-color:#41A128;
}

a.buttonize:hover,
.post a.buttonize:hover {
	background-color:#00a2ff;
	color:		#fff;
	border-color:	#00a2ff;
}


.social{
	position: absolute;
	right: 1em;
	top:   .5em;
	z-index: 1;
}

.fb-follow{
	position: absolute;
	right: 1em;
	top:   3.8em;
	margin-left:8px; color: white; font-family: Raleway;
}

	

hr {
/* 	border-top:	1px solid #D7D7D7; */
	color: #D7D7D7;
	background-color: #D7D7D7;
	height: 1px;
	border: 0;
	margin: 2em 0 0 0;
}

blockquote {
	border-left:	4px solid #D7D7D7;
	padding-left:	10px;
}

.date {
	font-family:	'Raleway', sans-serif;
	font-weight:	100;
	font-size:	1.8em;
	text-align:right;
	max-width:	100%;

}

.post {
	font-family:	'Open Sans', sans-serif;
	padding:    0em;
/* 	border-top:	1px solid #D7D7D7; */
	max-width: 30em;
	margin-bottom: 2em;
}

.post h1 {
	font-family:	'Raleway', sans-serif;
	font-weight:	900;
	font-size:		1.6em;
	color:			black;
	text-align:     left;
	margin-bottom:	0.4em;
}

.post a:hover h1{ color: #00a2ff; }

.post a:hover h2{ color: #00a2ff; }
	
.post h2 {
	font-family:	'Open Sans', sans-serif;
	font-weight:	700;
	font-size:		1.2em;
	color:		#9C9C9C;
	margin-bottom: 0.4em;
	line-height:   1.4;
}

.post h3 {
	padding-top: 	2.0em;
	padding-bottom: 0.0em;
}

.post p, em {
	font-family:	'Open Sans', sans-serif;
	font-weight:	400;
	color:		#4D4D4D;
	margin:		0;
	margin-top:		.8em;
}

.post strong {
/*	color:		#9C9C9C; */
	color:		#4D4D4D;
}


.post img {
	width:	30em;
}

.post ul { left: 4em; margin: 1em;}

.post ol img {
	width: auto;
	height: 6em;
	vertical-align: top;
	padding: 0;
	padding-right: 1em;
	float: left;
}

.post ol { list-style-type: none; 
	margin: 0;
	margin-top: 1em;
	padding: 0;
}

.post ol a {
	font-weight:bold;
	font-size: 1.2em;
}

.post ol li {
	padding: 0em 0;
}

.post ol strong {
	font-size: 1.2em;
}

.post .ranking {
	float: 			right; 
	font-size:		2.5em;
	background-color: #D7D7D7;
	border-radius:	50px;
	width: 1.5em;
	height: 1.0em;
	text-align: center;
	color: white;
	vertical-align: middle;
	padding-top: 0.3em;
	margin-top: 0.2em;	
}

.post .highlight {
	background-color: #D7D7D7;
	border:		1px solid #9C9C9C;
	border-radius:	0.2em;
	padding:	1em 0.5em;
	margin-top:	3em;
}

a .post-abstract, a:hover, a:active, a:focus {
	text-decoration: none; 
	color:		#4D4D4D;
}

.header_post a {
	text-decoration: none; 
	color: black;
}

.post a, .post-archivio a {
	text-decoration: none; 
	border-bottom: 1px dashed;
	color: #00a2ff;


}

.post a:hover, a:active, a:focus {
/* 	color: #00a2ff; */
	color: black;
	text-decoration: none; 
	
}

.post-archivio a:hover, a:active, a:focus { 
	color: #00a2ff;
	text-decoration: none; 
}


.legal {
	font-family:	'Raleway', sans-serif;
	font-weight:	100;
	font-size:	12px;
	color:		#9C9C9C;
	padding-top:	1em;
}

.archive{
	margin-bottom:5px; line-height: 1;
	margin-left: -5em;
}
.archive a {
	text-decoration: none;
	color: black;
}

a:hover .title-archive , a:active, a:focus {
	color: #00a2ff;
}

a .date-archive {
	color:		#9C9C9C;
}

a:hover .date-archive , a:active, a:focus {
	color:		black;
}

.date-archive {
	font-family:	'Raleway', sans-serif;
	font-weight:	100;
	font-size:	0.9;
	width: 		8.5em; display: inline-block;
	text-align:	right;
	padding-right:	.5em;
}
.title-archive {
	font-family:	'Raleway', sans-serif;
	font-weight:	900;
	width: 27.5em; 
	display: inline-block; line-height:1.2;
	vertical-align:	middle;
	padding-bottom: .5em;
}

.fblike-archive{
	position: relative; top: 0px; right:1em; width: 5em; display: inline-block;
	vertical-align: middle;
}

header a h2 {
	color: black;
}

header a {
	text-decoration: none;
}

.fyre-widget .fyre-logo-drop, .fyre-widget .fyre-logo-help, .fyre-widget .fyre-help, 
.fyre-comment-count, /*.fyre-comment-username,*/ .fyre-login-bar, .fyre-live-container,
.fyre-login-bar /*.fyre-stream-sort*/ {
    display:none;
}

.fyre-editor, .fyre-stream-sort, .fyre-comment-actions {
	position: relative;
	top: -4em;
	/*z-index:	1;*/
}

/* 
.fyre-comment-article {
	position: relative;
	top: -1em;
	z-index:	1;
}
 */

.fyre-comment-actions, .fyre-comment-reply, .fyre-comment-like {
	position: relative;
	top: -2em;
	}

.comments {
	font-family:	'Open Sans', sans-serif;
	font-weight:	700;
	font-size:		1.0em;
	color:		#9C9C9C;
	margin-top: 0.4em;
	text-align: center;
	clear: left;
}

.center {
	text-align:center; 
	margin: 2em 0;
	}


.left, .right {
	margin: 1em 0 0 0;
	padding: 0;
	display:inline-block;
	width:50%;
	float:left;
}
.right {
	text-align: right;
}

.clear { display: block; clear: both;}


.form {
	font-family:	'Open Sans', sans-serif;
	font-weight:	400;
	color:		#4D4D4D;
	font-size: 1.4em;
}

.email {
	font-size: 1.0em;
	color:		#9C9C9C;
}

.video {
	margin-top: 1em;
}

.formlist{
padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}

.formemail {
	margin-top: .5em;
	padding: 0.3em;
	display: inline;
	width: 78%;
	font-size: 1em;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
.formsubmit {
	width: 18%;
	display: inline;
	background: red;
	color: white;
	border: 0px;
	font-size: 1em;
	padding: 0.4em;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}

.seguici{
	margin:   1em 0 2em 0;
	/*font-family: Raleway;*/
	border-top:	1px solid #D7D7D7;
	border-bottom:	1px solid #D7D7D7;
	background: #D7D7D7;
	padding: 2em 1em 2em 1em;
	
}

.post .seguici img {
	height: 36px;
	width: 	36px;
	padding: 0.2em;
}

.post .seguici .center {text-align:center;}

.post .seguici .center a { 	border-bottom: none;}

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {

#container { width: 30em; }


header h2:before, header h2:after { width: 35%; }

h1 { font-size: 2.618em; line-height: 1.4em; }
h1 span { font-size:0.5em; }
h1 span:before, h1 span:after { width: 10%; }

header h2 { font-size: 1.5em; }



p.intro {
  font-size: 1.309em;
  margin-bottom: 1em;
  max-width: 33em;
}

#header { 
  width: 	100%;
  position: relative;  
}

aside {
  position: relative;
  top:		0;
  float: none;
  width: auto;
  height: auto;
  margin: 3em 0 2.2em;
  }
	
aside ul {
	list-style: none;
	line-height: 2.0;
}



aside img {
	display: none;
}



a.buttonize {
	padding-left:	10px;
	padding-right:	10px;
	border:			0px solid #f8f8f8;
	border-radius:	50px;
}

#main {
	margin:0
}



.social{
	display: none;
}


.fb-follow{
	display: none;
}

.fblike-archive{
	display: none;
}

.archive{
	margin-left: 0;
}
.title-archive {
	font-family:	'Raleway', sans-serif;
	font-weight:	900;
	width: 30em; vertical-align:middle; display: inline-block; line-height:1.2;
}

.date-archive {
	max-width:	100%;
	text-align:	left;
}


}

/* 10. CUSTOM LAYOUT & TYPOGRAPHY (iPHONE)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 0em) and (max-width: 29.999em) {

#container { max-width: 100%; }


header h2:before, header h2:after { width: 35%; }

h1 { font-size: 2.618em; line-height: 1.4em; }
h1 span { font-size:0.5em; }
h1 span:before, h1 span:after { width: 10%; }

header h2 { font-size: 1.5em; }

#header { 
  width: 	100%;
  position: relative;  
}

#header h1 {
	font-size:	3.0em;
}

#header h2 {
	font-size:	1.0em;
}

aside {
  position: relative;
  top:		0;
  float: none;
  width: auto;
  height: auto;
  margin: 3em 0 2.2em;
  }
	
aside ul {
	list-style: none;
	line-height: 1.6;
}

aside img {
	display: none;
}

a.buttonize {
	padding-left:	10px;
	padding-right:	10px;
	border:			0px solid #f8f8f8;
	border-radius:	50px;
	font-size:		0.9em;
}

#main {
	margin:0
}

.social{
	display: none;
}

.fb-follow{
	display: none;
}

.fblike-archive{
	display: none;
	right:0em;
}

.archive{
	margin-left: 0;
}

.title-archive {
	font-family:	'Raleway', sans-serif;
	font-weight:	900;
	width: auto; vertical-align:middle; display: inline-block; line-height:1.2;
}

.date-archive {
	display: block;
	max-width:	100%;
	text-align:	left;
}

.post {
	max-width: 100%;
	}

hr {
/* 	display: none; */
	}

}

