body {
	font-family:	'Open Sans', sans-serif;
	font-size:	16px;
	line-height:	1.6;
	background:	white;
	color:		#4D4D4D;
}

div#black_bar{position:fixed;left:0;top:0;bottom:0;background-color:#000;width:6px;z-index:11}


.post img {
	width:	520px;
}

hr {
	color: #D7D7D7;
	background-color: #D7D7D7;
	height: 1px;
}

blockquote {
	border-left:	4px solid #D7D7D7;
	padding-left:	10px;
	margin:		20px 0;
}


#header_master{
	position: 	fixed;
	height:		120px;
	border-bottom:	1px solid #D7D7D7;
	width: 		100%;
	background-color: white;
	line-height: 1.3;
	z-index:	2;
}

#header_master h1 {
	/*font-family:	'Raleway', sans-serif;
	font-weight:	900;*/
	font-family:	'Lobster', cursive;
	font-size:	44px;
	/*color:#00a2ff;*/
	/*background-color:	black;*/
	margin-top:3px;
	/*background-color:#00a2ff;*/
	background-color: #0776A0;
	color:white;	
	padding-left:	50px;
	height:		70px;
	-webkit-text-stroke: 0.1px black;
	text-shadow:
	2px  2px 0  #024C68,
	-1px -1px 0 #024C68,  
	1px -1px 0  #024C68,
	-1px 1px 0  #024C68,
	1px  1px 0  #024C68;

}
#header_master h2 {
	font-family:	'Raleway', sans-serif;
	font-weight:	100;
	font-size:	24px;
	color:		black;
	padding-left:	50px;
	padding-top:	10px;
}
#social {
	float: right;
	text-align: right;
	margin-top: -110px;
	margin-right: 20px;
	line-height: 1.8;
}
#sidebar {
	float:		left;
	width:		30%;
}

#logo{
  /*
	position:	fixed;
	top:		170px;
	left:		20px;
	*/
	width:		200px;
}

#river {
	float:		left;
	width:		70%;
	min-width:	520px;
	margin-top:	120px;
}

#navigator-mobile{
  display: none;
}

#navigator{
	position: 	fixed;
  	display:	inline;
	line-height: 	2.5;
	/*border-right:	1px solid #D7D7D7;*/
	min-width:	330px;
	width: 		30%;
	height:		100%;
	top:		120px;
	padding:	20px 30px;
}

#navigator ul {
	/*position: 	absolute;
	padding-top:	30px;
	padding-left:	30px;
	bottom: 	120px;*/
}

#the_end {
	position: 	relative;
	bottom: 0;
	padding: 	60px 60px;
	width:70%;
}

/*
.title {
	padding:	100px 0 60px 60px;
	line-height:	1.4;
}

.title h1 {
	font-family:	'Lobster', cursive;
	font-size:	72px;/
	color:		black;
}

.title h2 {
	font-family:	'Raleway', sans-serif;
	font-weight:	100;
	font-size:	24px;
	color:		black;
}
*/

.date {
	font-family:	'Raleway', sans-serif;
	font-weight:	100;
	font-size:	28px;
	text-align:right;

}

.post-archivio {
	font-family:	'Open Sans', sans-serif;
	padding:	0; /*50px 0px 20px 60px;*/
}

.post-archivio h1 {
	display: inline;
	font-family:	'Raleway', sans-serif;
	font-weight:	900;
	font-size:	18px;
	color:		black;
	line-height:	1.1;
}

.post-archivio h2 {
	display: inline;
	font-family:	'Open Sans', sans-serif;
	font-weight:	700;
	font-size:	14px;
	color:		#9C9C9C;
	width:		500px;
	padding-right:	10px;
}

.post {
	font-family:	'Open Sans', sans-serif;
	padding:	0; /*50px 0px 20px 60px;*/
	width:		520px;
	margin-top:	50px;
}

.post h1 {
	font-family:	'Raleway', sans-serif;
	font-weight:	900;
	font-size:	28px;
	color:		black;
	width:		500px;
	line-height:	1.1;
}

.post h2 {
	font-family:	'Open Sans', sans-serif;
	font-weight:	700;
	font-size:	18px;
	color:		#9C9C9C;
	width:		500px;
}

.post p, em {
	font-family:	'Open Sans', sans-serif;
	font-weight:	400;
	font-size:	14px;
	color:		#4D4D4D;
	margin-top:	10px;
	width:		500px;
}

.header_post a {
	text-decoration: none; 
	color: black;
}

.post a {
	text-decoration: none; 
	border-bottom: 1px dashed;
	color: black;
}

.post a:hover, a:active, a:focus { 
	color: #00a2ff;
	text-decoration: none; 
}


.legal {
	font-family:	'Raleway', sans-serif;
	font-weight:	100;
	font-size:	12px;
	color:		#9C9C9C;
	padding-top:	60px;
}

.split{
	border: 	0;
	height:		1px;
	color:		#D7D7D7;
	background-color:#D7D7D7;

}

.about_head{
	text-align:	center;
	border-bottom:	1px solid #D7D7D7;
	padding:	7px;
	color:		black;
}


.about_head h1{
	font-family:	'Raleway', sans-serif;
	font-weight:	800;
	font-size:	26px;
}

.about_text {
	margin:		0 auto;
	width:		500px;
	font-weight:	400;
	font-size:	18px;
}
.about_text h2 {
	margin:		90px 0 30px 0 ;
	font-weight:	700;
	font-size:	32px;
	color:		black;
	line-height:	1.2;
}

.about_text p {
	margin:		20px 0;
	color:		#4D4D4D;
}

a {
	text-decoration: none;
}

a:hover, a:active, a:focus { 
	color: black;
	text-decoration: none; 
}


a.buttonize {
	display:	inline;
	padding:	0;
	padding-left:	15px;
	padding-right:	15px;
	background-color:#fff;
	color:		#999;
	border:		2px solid #f8f8f8;
	border-radius:	50px;
	font-weight:	bold;
	font-weight:	800;
	-webkit-font-smoothing: antialiased;
}

a.buttonize:hover {
	background-color:#00a2ff;
	color:		#fff;
	border-color:	#00a2ff;
}

a.buttonize.red{
	color:	white;
	background-color:#F5001D;
	border-color:#F5001D;
}

a.buttonize.orange{
	color:	white;
	background-color:#FF6C00;
	border-color:#FF6C00;
}

a.buttonize.cyan{
	color:	white;
	background-color:#009E8E;
	border-color:#009E8E;
}

a.buttonize.green{
	color:	white;
	background-color:#41A128;
	border-color:#41A128;
}

a:hover h1{
	color: #00a2ff;
}

a:hover h2{
	color: black;
}

a.buttonize.red:hover,
a.buttonize.orange:hover,
a.buttonize.cyan:hover,
a.buttonize.green:hover,
a.buttonize.dark:hover
{
	color:		  #fff;
	background-color: #000;
	border-color: 	  #000;
	background-color: #0776A0;
	border-color: 	  #0776A0;
	background-color:#00a2ff;
	border-color:	#00a2ff;
}

a.buttonize.dark{
	color:		#fff;
	background-color:#000;
	border-color:	#000
}

/*a.buttonize.dark:hover {
	color:		#fff;
	background-color:#00a2ff;
	border-color:	#00a2ff
	background-color: #0776A0;
	border-color: 	  #0776A0;
}*/

a.buttonize.dark.commit {
	font-size:	16px;
	line-height:	25px;
	text-transform:	uppercase;
	font-weight:	800
}

a.buttonize.large{
	line-height:	52px;
	font-size:	18px;
	padding:	5px 15px;
}

a.buttonize.small {
	font-size:	15px;
	line-height:	23px;
	padding-left:	15px;
	padding-right:	15px;
	padding-top:	2px
}

.bio {
	



