---
layout: page
---


<section class="post">

	<h2>Guest</h2>

	Giovani e meno giovani, single o sposati che hanno desiderato condividere la loro storia di salvezza con noi ...

</section>

{% for post in site.posts %}
{% include date-ita-post.html %}

{% if post.author == 'Guest' %}

<section class="archive">
<a href="{{post.url}}">
	<div class="date-archive">{{giorno}} {{mese}} {{anno}}</div>
	<div class="title-archive">{{post.title}}</div>
	<div class="fblike-archive"><div class="fb-like" data-href="http://5p2p.it{{post.url}}" data-send="false" data-layout="button_count" data-width="20" data-show-faces="false"></div></div>
</a>
</section>







{% endif %}

{% endfor %}

		      <p class="center">
		      <a href="/archivio.html" class="buttonize dark">Tutti gli articoli >></a>
		      </p>
