---
layout: default
---

<a href="{{ post.url }}">
{% include bio-ruvido.html %}
</a>

<!--div style="text-align:right	; margin: 0px 0;">
  <a href="https://www.facebook.com/francesco.rao.142">
    <img src="/img/site/facebook.png">
  </a>
</div-->

{% for post in site.posts %}
{% include date-ita-post.html %}

{% if post.author == 'Ruvido' %}

<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<div class="info">
	<a href="/{{post.author}}.html"><div class="author">by {{post.author}}</div></a>
	<div class="date">{{giorno}} {{mese}} {{anno}}</div>
	<div class="clear"></div>
</div>

{% endif %}

{% endfor %}

