{% if 1 %}
<style>
.alert-box {
	color: white;
	background: #1abc9c;
	padding: 2rem 1.6rem;
	margin: 2rem auto;
	border-radius: 20px;
}
.alert-box .action-button{
	text-align: center;
	#margin-top: 1rem;
	color: #1abc9c;
}
.alert-box .action-button a{
	color: #1abc9c;
	text-decoration: none;
	border-bottom: 0px;
}
.alert-box h1 {
	padding: 0;
	margin: 0;
	font-size: 2.6em;
}
.alert-box h2 {
	font-weight: normal;
	padding: 0 0 1.0rem 0;
	margin: 0;
	font-size: 1.6em;
}
.alert-box h3 {
	padding: 0;
	margin: 0;
	font-size: 2em;
}
.alert-box img {
	width: 70%;
	max-width: 200px;
}
.alert-box .info-text{
	padding-top: 1rem;
	width: 100%;
	font-size: 0.9em;
	text-align: center;
}
.alert-box .info-text a{
	color: white;
	text-decorarion: underline solid white;
}
</style>

<div class="alert-box">
	<h1>L'AMORE CHIAMA!</h1>
	<p>Un'esperienza per scoprire il 
	progetto che c'è su di te.</p>

	<p></p>
	<!-- h2><strong>3-4 Novembre</strong> MONDOVÌ (CN)</h2 -->

	<div class="action-button">
	<a href="http://tour.5p2p.it"><h3>ISCRIVITI!</h3></a>
	</div>

	<div class="info-text">
	<a href="http://tour.5p2p.it">
	Maggiori informazioni
	</a>
	</div>
</div>


{% endif %}
