<h2>Dodo</h2>
<h1>Marco Androardi</h1>

Tutto iniziò nel lontano 1980, quando sulla sua strada da giovane lupetto
incontrò una bella bambina... e da allora non è più riuscito a liberarsene.
Una vita passata nello scoutismo dove ha imparato il rispetto per l'uomo e la
natura, doni di Dio, e soprattutto l'arte della sopravvivenza, che ora mette in
pratica nella quotidianità con i suoi quattro figli.  Insieme a quella bambina,
che da 10 anni è sua moglie, cercano di dare un senso al proprio essere sposi
in Cristo, cercando di vivere seguendo la legge di Dio e non quella dell'uomo.
