
		<div id="black_bar">&nbsp;</div>

		<header id="header_master">
		<a href="/">
		<h2>Avventure di provvidenza quotidiana</h2>
		<h1>5pani 2pesci</h1>
		</a>

		<section id="social">
		{% include social-header.html %}
		</section>

		</header>

		<nav id="navigator">
		<a href="/">
		  <img id="logo" src="/img/logo/5p2p-dark.png">
		</a>

		<ul>
			<li><a href="/" class="buttonize dark">Blog</a></li>
			<li><a href="/chi_siamo.html" class="buttonize green">Chi siamo</a></li>
			<li><a href="/video.html" class="buttonize cyan">Filmmaker per vocazione</a></li>
			<li><a href="/foto/" class="buttonize orange">Fotografi degli sposi</a></li>
			<li><a href="http://www.assisiofm.it/corsi-e-iniziative-sog-43-1.html" class="buttonize red">I corsi di Assisi</a></li>
			<li><a href="mailto:info@5p2p.it?subject=hello" class="buttonize dark">scrivici</a></li>

		</ul>
		</nav>

		<nav id="navigator-mobile">
		<ul>
			<li><a href="/" class="buttonize dark">Blog</a></li>
			<li><a href="/chi_siamo.html" class="buttonize green">Chi siamo</a></li>
			<li><a href="/video.html" class="buttonize cyan">Filmmaker</a></li>
			<li><a href="/foto/" class="buttonize orange">Fotografi</a></li>
			<li><a href="mailto:info@5p2p.it?subject=hello" class="buttonize dark">scrivici</a></li>

		</ul>
		</nav>

		<section id="sidebar">&nbsp;</section>


