<hr>


<h3>Condividi questo articolo con i tuoi amici</h3>

<hr>


        <section class="share_post">                
                
                <a class="social_rounds twitter" href="https://twitter.com/share?text={{page.title}}&amp;url={{url}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <!-- <span class="hidden">Twitter</span> -->
                    <i class="fa fa-twitter"></i>
                </a>
            
                <a class="social_rounds facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <!-- <span class="hidden">Facebook</span> -->
                    <i class="fa fa-facebook"></i>
                </a>
            
<!--                 <a class="social_rounds google-plus" href="https://plus.google.com/share?url={{url}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <i class="fa fa-google-plus"></i>
                </a>
 -->            
            </section>


<!-- ADDTHIS -->
<!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51b81acc3f62ccf7" async="async"></script>

<div class="addthis_sharing_toolbox"></div>
 -->



<!-- 
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like href="http://5p2p.it{{page.url}}" layout="button_count"  data-send="true" show_faces="false" width="90"></fb:like>


<div style="margin-top:.5em;">
<a href="http://twitter.com/share" class="twitter-share-button" data-text="{{page.title}}" data-count="horizontal" data-via="5pani2pesci" >Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

 -->