<div id="sidebar">
	<ul>
		<a href="/video.html"    ><li style="background-color: #F5001D; margin: 5px  0 20px 1px">  IN &#8226; VITA   </li></a>
		<a href="/index.html"    ><li style="background-color: #FF6C00; margin: 5px  0 0 1px">  blog      </li></a>
		<a href="/foto/index.html"><li style="background-color: #009E8E; margin: 5px  0 0 1px"> fotografia </li></a-->
		<!--a href="/portfolio.html"><li style="background-color: #009E8E; margin: 5px  0 0 1px">  portfolio </li></a-->
		<a href="/bio.html"      ><li style="background-color: #41A128; margin: 5px  0 0 1px">  bio       </li></a>
		<a href="/archivio.html"> <li style="background-color: #414142; margin: 5px  0 0 1px"> archivio </li></a>
	</ul>


</div>


