<a href="https://www.facebook.com/5pani2pesci"><img class="followbutton" src="/img/icons/facebook.png"></a>
&nbsp;
<a href="https://twitter.com/5pani2pesci"><img class="followbutton" src="/img/icons/twitter.png"></a>
<div style="margin-left:8px; color: white; font-family: Raleway;">
  Seguici su facebook &nbsp;
	<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2F5pani2pesci&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=trebuchet+ms&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:73px; height:90px; vertical-align: middle;" allowTransparency="true"></iframe>
</div>
