#galleria{ 
	width: 820px; 
	height: 820px; 
	margin: 0 auto;
}

	
.torna {
	width: 90%;
	margin: 0 0 60px 60px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	text-align: right;
}
.torna a {
	text-decoration: none; 
	border-bottom: 1px dashed;
	color: black;
}

.fotobox {
	width: 850px;
	padding: 20px 0 0 0 ;
	margin: 0 auto;
	background: white;
}
img.singl {
	width: 820px;
	height: auto;
	display: block;
	margin: 0 auto;
	padding: 0 0 50px 0;
}

img.multi {
	width: 400px;
	height: auto;
	padding: 10px;
	margin: 0;
}

img.multivert {
	width: auto;
	height: 300px;
	padding: 10px;
	margin: 0;
}

img.ruvido {
	/* Set rules to fill background */
	/*min-height: 100%;*/
	min-width: 1024px;
	/*max-height: 100%;*/

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	/*position: fixed;*/
	top: 0;
	left: 0;

}

img.bg {
	/* Set rules to fill background */
	/*min-height: 100%;*/
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	/*height: auto;*/

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
}


#page-wrap { 
	position: relative; 
	width: 400px; 
	margin: 50px auto; 
	padding: 20px; 
	background: white; 
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
}
#container{
	margin 0;
	padding: 0;
}

#navigation{
	position: fixed;
	height: 20px;
	width: 100%;
	background: black;
	color: white;

}


.blogcircle {
	position: fixed;
	top: 20px;
	right: 20px;
	border-radius: 50%;
	width:  60px;
	height: 60px; 
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
}

.blogcircle a { 
	color: white;
	text-decoration: none; 
}

.blogcircle a:hover, a:active, a:focus { 
	color: white;
	text-decoration: underline; 
}

#page1 {
	height: auto;
	background: white;

}

#page1 .overlay {
	position: absolute; 
	top:   50px; 
	left:  70px; 
	width: 420px; 
	color: white; 
	letter-spacing: 0px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	min-width: 340px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#page1 .overlay h1 {
	padding: 10px; 
	font-family: 'Lobster', sans-serif;
	font-size: 60px;
	padding: 20px 30px;
	text-align: center;
}

#page1 .overlay h2 {
	padding: 10px; 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 36px;
	padding: 0px 30px;
	margin: -20px 0 0 0;
	text-align: center;
	letter-spacing: 14px;  
}

#page1 .overlay p {
	padding: 10px; 
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	padding: 20px 30px;
	text-align: center;
	line-height: 1.5; 
}

#page1 .overlay p a{
	text-decoration: none; 
	border-bottom: 1px dashed;
	color: white;
}

.arrow-down {
	width: 0; 
	height: 0; 
	margin: 10px 195px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f00;
}

#page2 {
	height: auto;
	background: white;

}

#page2 .titolo {
	width: 90%;
	margin: 60px 0 0 60px;
	border-bottom: 1px solid black;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
}

#page2 .arrow-down2 {
	width: 0; 
	height: 0; 
	margin: 10px 60px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f00;
}
#page3 {
	height: 100%;
	background: #EFEFEF;
	border-top: 2px dashed #8F8F8F;
}

#page3 .titolo {
	width: 400px;
	margin: 0;
	padding: 40px 40px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	text-align: left;
}

#page3 .tipo{
	width: 200px;
	line-height: 60px;
	height: 60px;
	margin: 0;
	padding: 0px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	text-align: left;
}

#page3 .contatto{
	width: 350px;
	height: 60px;
	line-height: 60px;
	margin: 0;
	padding: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	text-align: center;
	border: 1px solid #8F8F8F;
	background: white;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

#page3 .contbox{
	width: 450px;
	margin: 20px 0;
	padding: 40px;
}

