<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:dc="http://purl.org/dc/terms/" xml:lang="en" lang="en">


	{% include head.html %}

	<body>
		<div id="wrapper">


			{% include sidebar.html %}


			<div id="book">

				<div id="header">
					<h1><a href="/">5pani|2pesci</a></h1>
				</div>

				{{ content }}


				<div id="footer">
					5pani|2pesci &#8226; productions
				</div>
			</div>
		</div>
	</body>
</html>
