<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:dc="http://purl.org/dc/terms/" xml:lang="it" lang="it">



	<head>
		<title>5pani|2pesci</title>

		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-language" content="it" />
		<meta name="author" content="Francesco Rao" />
		<meta name="designer" content="Francesco Rao" />
		<meta name="developer" content="Francesco Rao" />
		<meta name="description" content="5pani2pesci blog" />
		<meta name="keywords" content="concept, design, graphic, typography, web, dslr, hd, chiesa, fotografia, video, matrimoni, sposi, francescani" />
		<meta name="robots" content="noydir, noopd" /> <!-- Opt out of ODP -->


		<link href="css/reset.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />

		<link href='http://fonts.googleapis.com/css?family=Raleway:900,100'   rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>

	</head>

	<body>

		<div id="black_bar">&nbsp;</div>

		<header id="header_master">
		&nbsp;
		</header>

		<nav id="navigator">
		<ul id="fin_menu">
			<li><a href="" class="buttonize light">Filmmaker per vocazione</a></li>
			<li><a href="" class="buttonize light">Fotografi degli sposi</a></li>
			<li><a href="" class="buttonize light">10 comandamenti</a></li>
			<li><a href="" class="buttonize light">I corsi di Assisi</a></li>
			<li><a href="mailto:hello@5p2p.it?subject=hello" class="buttonize light">say hello</a></li>
		</ul>
		</nav>

		<section id="sidebar">&nbsp;</section>
		<section id="river">

		<header class="title">
		<h1>5pani)(2pesci</h1>
		<h2>Avventure di provvidenza quotidiana.</h2>
		</header>

		<hr class="split" />

		{{ content }}


		<section id="the_end">
		<ul id="fin_menu">
			<li><a href="" class="buttonize dark">Tutti gli articoli</a></li>
		</ul>
		<p class="legal">&copy; 2013 5p2p.</p>
		</section>

		</section>

	</body>
</html>



