<html>
	<head>
		<title>5pani|2pesci</title>

		<link href="css/reset.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
		<!link href="here-opensans.css" media="screen" rel="stylesheet" type="text/css" />
		<!link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
		<!link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:700' rel='stylesheet' type='text/css'>
		<!link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400' rel='stylesheet' type='text/css'>
		<!link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>

		<link href='http://fonts.googleapis.com/css?family=Raleway:900,100' rel='stylesheet' type='text/css'>

		<!link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>

	</head>

	<body>

		<div id="black_bar">&nbsp;</div>

		<header id="header_master">
		&nbsp;
		</header>
		<section id="sidebar">
		<nav id="navigator">
		<ul id="fin_menu">
			<li><a href="" class="buttonize light">Filmmaker per vocazione</a></li>
			<li><a href="" class="buttonize light">Fotografi degli sposi</a></li>
			<li><a href="" class="buttonize light">10 comandamenti</a></li>
			<li><a href="" class="buttonize light">I corsi di Assisi</a></li>
			<li><a href="mailto:hello@5p2p.it?subject=hello" class="buttonize light">say hello</a></li>
		</ul>
		</nav>
		</section>

		<section id="river">

		<header class="title">
		<h1>5pani)(2pesci</h1>
		<h2>Avventure di provvidenza quotidiana.</h2>
		</header>

		<hr class="split" />

		{{ content }}

		</section>

		<section id="the_end">
		<ul id="fin_menu">
			<li><a href="mailto:hello@5p2p.it?subject=hello" class="buttonize dark">say hello</a></li>
		</ul>
		<p class="legal">&copy; 2013 5p2p.</p>
		</section>

	</body>
</html>



