<!DOCTYPE html>
<html lang="it">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>


  <!-- for Facebook -->
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:description" content="{{site.description}}" />
  <meta property="og:image" content="{{site.url}}{{site.fb_img}}">

  <title>{{page.title}}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}{{site.logo}}">

  <!-- CSS  -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/reset.css" media="all">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css" media="all">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,900,400italic,700|Roboto+Condensed:300' rel='stylesheet' type='text/css'>
 <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,700" rel="stylesheet">
  <!-- awesome icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  {% include facebook-app-id.html %}
  {% include ga_analytics.html %}

</head>

  <body>

    <section class="landing center-text">

      <img src='{{site.baseurl}}{{site.splash}}' />  

      <a href="{{page.subscribe}}">
        <span class="btn margin-auto margin-top-3 margin-bottom-05">Iscriviti</span></a>

      <div class="margin-auto no-text-decoration">
        <a href="{{page.blog}}">Oppure, vai al blog <i class="fa fa-fw fa-arrow-circle-right" aria-hidden="true"></i></a>
      </div>

      <div class="height-3" style="margin-top: 3rem;">&nbsp;</div>
    
    </section>

  </body>
</html>
