<html>
<head>

<title></title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="it" />
<meta name="author" content="Francesco Rao" />
<meta name="designer" content="Francesco Rao" />
<meta name="developer" content="Francesco Rao" />
<meta name="description" content="Avventure di Provvidenza quotidiana" />



<link href='http://fonts.googleapis.com/css?family=Raleway:200'   rel='stylesheet' type='text/css'>

  
</head>

<body style="font-family: 'Raleway', sans-serif; font-weight:200;">
	<table width="100%" border="0">  
	    <tr>  
	        <td>  
				<table width="400" align="center" cellpadding="10" cellspacing="10" border="0">  
					<tr>  
						<td align="center">
							<img width="400px"src="http://5p2p.it/img/mailinglist/mailinglist-header.png"></td>  
					</tr>
					<tr>
						<td>

			  		      {{ content }}



						</td>
					</tr>
					<tr>
						<td align="center">
							<img align="middle" src="http://5p2p.it/img/mailinglist/logo100.png">
  					    </td>
  				    </tr>
					<tr>
						<td align="center">
							<img width="400px"src="http://5p2p.it/img/mailinglist/footer-hr.png"></td>  
  					    </td>
  				    </tr>
					<tr>
						<td align="center">
				  	      Seguici su<br><br>
						  <a href="http://facebook.com/5pani2pesci"><img src="http://5p2p.it/img/mailinglist/facebook.jpg" alt="facebook"></a>
						  <a href="http://twitter.com/5pani2pesci"><img src="http://5p2p.it/img/mailinglist/twitter.jpg" alt="twitter"></a>
						  <a href="http://youtube.com/5pani2pesci"><img src="http://5p2p.it/img/mailinglist/youtube.jpg" alt="youtube"></a>
					  </td>
				  </tr>

				<tr>
					<td align="center">
						<img width="400px" height="4px" src="http://5p2p.it/img/mailinglist/footer-hr.png"></td>  
					    </td>
				    </tr>
				

				</table>  
			</td>  
		</tr>  
</table>  

      
</body>

</html>

