<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:dc="http://purl.org/dc/terms/" xml:lang="it" lang="it">


	{% include head.html %}


	<body>

		<div id="black_bar">&nbsp;</div>

		<header id="header_master">
		<a href="/">
		<h2>Avventure di provvidenza quotidiana</h2>
		<h1>5pani 2pesci</h1>
		</a>

		<section id="social">
		{% include social-header.html %}
		</section>

		</header>

		<section id="logo">
		<a href="/">
		<img src="/img/logo/5p2p-dark.png" width="250px">
		</a>
		</section>

		<nav id="navigator">
		<ul>
			<li><a href="/" class="buttonize dark">Blog</a></li>
			<li><a href="/chi_siamo.html" class="buttonize green">Chi siamo</a></li>
			<li><a href="/video.html" class="buttonize cyan">Filmmaker per vocazione</a></li>
			<li><a href="/foto/" class="buttonize orange">Fotografi degli sposi</a></li>
			<li><a href="http://www.assisiofm.it/corsi-e-iniziative-sog-43-1.html" class="buttonize red">I corsi di Assisi</a></li>
			<li><a href="mailto:info@5p2p.it?subject=hello" class="buttonize dark">scrivici</a></li>

		</ul>
		</nav>
	
	
		<section id="sidebar">&nbsp;</section>
		<section id="river">

		{{ content }}


		<section id="the_end">
		<p class="legal">&copy; 2013 5p2p.</p>
		</section>

		</section>

	</body>
</html>



