{% include head.html %}

	{% include facebook.html %}
	{% include date-ita-page.html %}





		      <article class="post">
		      <div class="date">{{giorno}} {{mese}} {{anno}}</div>

		      <div>
		      <a href="/{{page.author}}.html"><h2>{{page.author}}</h2></a>
		      <h1>{{page.title}}</h1>
		      </div>



		      {{ content }}

		      <div style="margin: 2em 0 0 0">

			  <a href="https://twitter.com/share" class="twitter-share-button" data-via="5pani2pesci">Tweet</a>
			  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>




			  <div style="float:right">
			  <a href="https://twitter.com/5pani2pesci" class="twitter-follow-button" data-show-count="false">Follow @5pani2pesci</a>
			  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			  </div>

			  <div style="margin-left: -3px">
			  	<div class="fb-like" data-href="http://5p2p.it{{page.url}}" data-send="false" data-layout="button_count" data-width="20" data-show-faces="false" style="z-index: 10;"></div>
		  	</div>
	  	</div>



      <div class="center">
      <a href="/archivio.html" class="buttonize dark">Tutti gli articoli >></a>
      </div>


			  {% include prevnext.html %}



		{% include social.html %}
    </article>


{% include tail.html %}
