{% include head.html %}

	{% include facebook.html %}
	{% include date-ita-page.html %}





		      <article class="post">
		      <section class="date">{{giorno}} {{mese}} {{anno}}</section>

		      <a href="/{{page.author}}.html"><h2>{{page.author}}</h2></a>
		      <h1>{{page.title}}</h1>



		      {{ content }}


		      <div style="margin: 2em 0 0 0">


<div class="fb-like" data-href="http://5p2p.it{{page.url}}" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>

<div style="display:inline"><a href="https://twitter.com/share" class="twitter-share-button" data-via="5pani2pesci">Tweet</a>
			  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>



<div class="center">
<a href="/archivio.html" class="buttonize dark">Tutti gli articoli >></a>
</div>





<div class="seguici">
		
Se ti è piaciuto questo articolo iscriviti <a href="/list.html">alla mailing list</a> e seguici sui nostri <a href="http://facebook.com/5pani2pesci">canali social</a>:


<div class=center>
	<a href="https://www.facebook.com/5pani2pesci"><img src="/img/icons/facebook.png"></a>
    <a href="https://twitter.com/5pani2pesci">     <img src="/img/icons/twitter.png"></a>
    <a href="https://www.youtube.com/5pani2pesci"> <img src="/img/icons/youtube.png"></a>
</div>

	 
</div>

			  <!--{% include prevnext.html %}-->

			  
			  
					  
			  
		     {% include social-livefyre.html %}

		      </article>





{% include tail.html %}
