<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

  <body>

    {% include top-banner.html %}

    <header class="top-lead">
      <a href="{{site.baseurl}}/">
        <img class="mobile-only" src="/images/header/5pani2pesci-2017-blue-text-256.png" alt="">
        <img class="tablet-only" src="/images/header/5pani2pesci-2017-blue-text-512.png" alt="">
      </a>
    </header>


    <nav class="top-nav">
      {% for item in site.data.menu %}
      <li class="top-nav-elements">
        <!-- <a class="{{item.class}}" href="{{site.baseurl}}/{{item.url}}"> -->
        {% if item.url contains "http" %}
          <a class="{{item.class}}" href="{{item.url}}">
        {% else %}
          <a class="{{item.class}}" href="{{site.baseurl}}/{{item.url}}">
        {% endif %}
        <!-- <a class="{% cycle 'color-1', 'color-2', 'color-3', 'color-4' %}" href="{{site.baseurl}}/{{item.url}}"> -->
          {{item.name}}</a>
      </li>
      {% endfor %}
    </nav>


    <header class="main-post">

      <section class="wrapper">
        <h1>{{ page.title }}</h1>

        {% if page.author %}
        <section class="author">
          by <a href="{{site.baseurl}}/about">{{page.author | capitalize}}</a>,
          <time datetime="{{page.date}}">{{page.date | date: "%B %d %Y"}}</time>
        </section>
        {% endif %}
      </section>

      {% if page.image %}
      <figure>
        <img alt="{{page.title}}" src="{{site.baseurl}}{{page.image}}" />
        <figcaption>{{page.caption}}</figcaption>
      </figure>
      {% endif %}

      {% if page.summary %}
        {% assign summary = page.summary %}
      {% endif %}
      {% if page.description %}
        {% assign summary = page.description %}
      {% endif %}
      {% if summary %}
      <section class="summary wrapper">{{ summary }}</section>
      {% endif %}

    </header>

  </body>

</html>
